dontaudit cameraserver vendor_file:file { read open getattr execute map };

allow cameraserver render_device:chr_file { rw_file_perms };

get_prop(cameraserver, graphics_prop)

