allow ephemeral_app app_data_file:lnk_file r_file_perms;
allow ephemeral_app storage_file:dir { getattr search };
allow ephemeral_app mnt_user_file:dir { getattr search };

get_prop(ephemeral_app, vendor_allocator_prop);
get_prop(ephemeral_app, vendor_graphics_prop);

dontaudit ephemeral_app {
  system_bootstrap_lib_file
}:dir { getattr read };

dontaudit ephemeral_app {
  toolbox_exec
  vendor_toolbox_exec
}:file execute;
