#Copro service
type hal_copro_default, domain;
hal_server_domain(hal_copro_default, hal_copro)

type hal_copro_default_exec, exec_type, vendor_file_type, file_type;
init_daemon_domain(hal_copro_default)

binder_call(hal_copro_client, hal_copro_server)
binder_call(hal_copro_server, hal_copro_client)

add_hwservice(hal_copro_server, hal_copro_hwservice)
add_hwservice(hal_copro_server, hal_coproserial_hwservice)

allow hal_copro_default rpmsg_device:chr_file { open read write ioctl getattr };
allow hal_copro_default sysfs:file { read write open };

