gpu_access(hal_camera_default);
allow hal_camera_default hal_graphics_mapper_hwservice:hwservice_manager { find };
get_prop(hal_camera_default, vendor_camera_prop)
