allow vendor_init serialno_prop:file { map };

#allow vendor_init {
#    dhcp_data_file
#    media_rw_data_file
#    wifi_data_file
#}:dir { create_dir_perms };

set_prop(vendor_init, config_prop)
set_prop(vendor_init, graphics_prop)
set_prop(vendor_init, system_prop)
set_prop(vendor_init, traced_enabled_prop)

allow vendor_init self:capability { sys_module };
allow vendor_init vendor_file:system { module_load };

dontaudit vendor_init self:capability dac_read_search;
