configs/eula.config
configs/kernel.config
configs/bootloader.config
configs/path.config
configs/patch.config
configs/tee.config
configs/teeuser.config
configs/openocd.config
core/devmem
core/miscgen
core/v4l-utils
hardware/allocator
hardware/bootctrl
hardware/camera
hardware/composer
hardware/copro
hardware/gralloc
hardware/hdmi_cec
hardware/health
hardware/interfaces
hardware/memtrack
hardware/lights
hardware/oemlock
hardware/audio
hardware/thermal
hardware/usb
hardware/wifi
hardware/gcnano-userland
services/CoproService
tee/kmgk
tee/optee_client
tee/optee_test
gcnano
graphics
dk
eval
valid3
