configs/eula.config
configs/kernel.config
configs/bootloader.config
configs/path.config
configs/patch.config
configs/tee.config
configs/teeuser.config
configs/openocd.config
core/devmem
core/miscgen
peripheral/allocator
peripheral/bootctrl
peripheral/camera
peripheral/composer
peripheral/copro
peripheral/health
peripheral/memtrack
peripheral/lights
peripheral/oemlock
peripheral/audio
peripheral/thermal
peripheral/usb
peripheral/wifi
peripheral/gcnano-userland
tee/kmgk
tee/optee_client
tee/optee_test
graphics
disco
eval
