# WARNING: KEEP THE ORDER AND NO SPACE BEFORE EULA_xxx PARAMETERS

# For each EULA dependent modules you have to give the following information:
# EULA_AGREEMENT <file> (name of the agreement text file)
# EULA_FILE_MSG <message> (information on loaded files purpose)

# EULA_GIT_PATH <path> (GIT URL used to clone containing after EULA acceptation)
# EULA_GIT_SHA1 <path> (GIT SHA1 required)
# or
# EULA_LOCAL_PATH (local directory case)

# For each compressed file in the same git path:
# EULA_FILE_PATH <path> (relative directory path where to extract the file containing)
# EULA_FILE_NAME <file name> (file name which shall be treated)
# EULA_FILE_TYPE <file format> (file format which shall be potentially uncompress: raw (no compression), tar-xz (.tar.xz), tar-gz (.tar.gz))

# If additional patches are required (optional)
# EULA_PATCH_1 <file name> (file name without .patch suffix)
# ...
# EULA_PATCH_<n> <file name> (file name without .patch suffix)

# EULA configuration for the GPU vivante driver and libraries
EULA_AGREEMENT ST_EULA_VIVANTE_GPU

EULA_FILE_MSG GPU driver and libraries
EULA_GIT_PATH https://github.com/STMicroelectronics/gcnano-binaries.git
EULA_GIT_SHA1 c01642ed5e18cf09ecd905af193e935cb3be95ed

EULA_FILE_PATH device/stm/stm32mp1/graphics
EULA_FILE_NAME gcnano-userland-android-6.2.4.p4-20190626
EULA_FILE_FORMAT tar-xz

EULA_FILE_PATH device/stm/stm32mp1-kernel/gcnano-driver
EULA_FILE_NAME gcnano-driver-6.2.4.p4
EULA_FILE_FORMAT tar-xz

EULA_PATCH_1 gcnano-6.2.4_p4/0001-Enable-DRM-driver-option
