# Patch list definition (for each git repository which shall be set and/or patched):

# PATCH_CONFIG_VERSION to be increased for each change within this file

# PATCH_PATH <path> (relative path of the patched directory from Android top directory)
# PATCH_COMMIT <commit sha1> (specific version required)
# PATCH_1 <file name> (file name with or without .patch suffix)
# ...
# PATCH_<n> <file name> (file name with or without .patch suffix)

# Increase <n> value by 1 to show order (add it in ascending order)
# Patch files to be added in device/stm/stm32mp2/patch/android/

# version of the patch configuration required
PATCH_CONFIG_VERSION 2

# ===================================== #
# Three types of patches:
# Patch to ... : mandatory patches
# Temporary patch to ... : mandatory patches (issue tracker opened, wait for official correction)
# Optional patch to ... : optional patches (can be removed taking care of dependencies)
# ===================================== #

# ===================================== #
# Android patch to bionic               #
# ===================================== #

# -------------------------------------
PATCH_PATH bionic

# Optional patch to align header files to Kernel 6.1
PATCH_1 bionic/0001-Update-to-v6.1-kernel-headers.patch

# ===================================== #
# Android patch to build                #
# ===================================== #

# -------------------------------------
PATCH_PATH build/make

# Patch to avoid integrating the default go handheld permissions which are not supported by the hardware
PATCH_1 build_make/0001-Remove-default-permission-configuration-for-a-go-han.patch

# Optional patch to allow building SDK addon without the emulation images
PATCH_2 build_make/0002-sdk-addon-remove-emulator-image-generation.patch

# ===================================== #
# Android patch to bootable             #
# ===================================== #

# -------------------------------------
PATCH_PATH bootable/recovery

# Optional patch to give priviledged system permission to SystemUpdateSample
PATCH_1 bootable_recovery/0001-Add-privileged-system-permissions-for-SystemUpdateSa.patch

# ===================================== #
# Android patch to frameworks           #
# ===================================== #

# -------------------------------------
PATCH_PATH frameworks/base

# Patch to allow galcore device path for JNI
PATCH_1 frameworks_base/0001-Vivante-device-path-whitelisted.patch

# Optional patch to give priviledged system permission to SystemUpdateSample
PATCH_2 frameworks_base/0002-Add-privileged-system-permissions-for-SystemUpdateSa.patch

# -------------------------------------
PATCH_PATH frameworks/opt/net/wifi

# Patch to add STM Wi-Fi library support (HAL)
PATCH_1 frameworks_opt_net_wifi/0001-Add-libwifi-hal-stm-vendor-specific-library.patch

# -------------------------------------
PATCH_PATH frameworks/opt/telephony

# Temporary patch to avoid ArrayIndexOutOfBoundsException (waiting official correction)
PATCH_1 frameworks_opt_telephony/0001-Check-phoneId-value-to-avoid-ArrayIndexOutOfBoundsEx.patch

# ===================================== #
# Android patch to external             #
# ===================================== #

# -------------------------------------
PATCH_PATH external/minijail

# Temporary patch to avoid secomp policy file parsing error (waiting official correction)
PATCH_1 external_minijail/0001-getmultiline-return-EINVAL-instead-of-EOF-bypass-tem.patch

# -------------------------------------
PATCH_PATH external/drm_hwcomposer

# Patch to migrate drm_hwcomposer from HIDL composer to AIDL composer3
PATCH_1 drm_hwcomposer/0001-implement-the-AIDL-composer3-HAL-version.patch

# -------------------------------------
PATCH_PATH external/perfetto

# Temporary patch to ignore ftrace field not understood for Kernel 6.1
PATCH_1 external_perfetto/0001-ftrace-ignore-the-nid-field.patch

# -------------------------------------
PATCH_PATH external/kernel-headers

# Optional patch to align header files to Kernel 6.1
PATCH_1 external_kernel-headers/0001-Update-to-v6.1-kernel-headers.patch

# -------------------------------------
PATCH_PATH external/v4l2_codec2

# Patch to integrate H.264 and VP8 stateless decoder
PATCH_1 external_v4l2_codec2/0001-v4l2_codec2-add-management-of-H.264-and-VP8-stateles.patch
PATCH_2 external_v4l2_codec2/0002-v4l2_codec2-zero-copy-for-H.264-and-VP8-decoders.patch
PATCH_3 external_v4l2_codec2/0003-v4l2_codec2-correct-copyright-information.patch
PATCH_4 external_v4l2_codec2/0004-v4l2_codec2-remove-usleep-in-serviceDeviceTask.patch
PATCH_5 external_v4l2_codec2/0005-v4l2_codec2-only-H264-and-VP8-decoders-are-supported.patch
PATCH_6 external_v4l2_codec2/0006-v4l2_codec2-improve-pool-management-during-a-resolut.patch
PATCH_7 external_v4l2_codec2/0007-v4l2_codec2-EAGAIN-error-when-dequeueing-a-buffer.patch
PATCH_8 external_v4l2_codec2/0008-v4l2_codec2-change-the-level-of-some-logs.patch

# ===================================== #
# Android patch to hardware             #
# ===================================== #

# -------------------------------------
PATCH_PATH hardware/interfaces

# Temporary patch to remove unused include of Util.h which doesn't exist (waiting official correction)
PATCH_1 hardware_interfaces/0001-Remove-unused-include-Util.h.patch

# Optional patch to remove warnings (waiting official correction)
PATCH_2 hardware_interfaces/0002-Correct-signed-and-unsigned-values-comparison-warnin.patch

# Temporary patch to add kernel 6.1 support for Android 13
PATCH_3 hardware_interfaces/0003-Add-kernel-6.1-support-for-Android-13.patch

# ===================================== #
# Android patch to kernel               #
# ===================================== #

# -------------------------------------
PATCH_PATH kernel/configs

# Temporary patch to add kernel 6.1 support for Android 13
PATCH_1 kernel_configs/0001-Add-kernel-6.1-support-for-Android-13.patch

# ===================================== #
# Android patch to system               #
# ===================================== #

# -------------------------------------
PATCH_PATH system/bpf

# Optional patch to remove spammy traces (waiting official correction)
PATCH_1 system_bpf/0001-Avoid-spammy-trace-on-bpf-loader.patch

PATCH_PATH system/core
# Temporary patch to start snapuserd after early init
# https://android-review.googlesource.com/c/platform/system/core/+/2820943
PATCH_1 system_core/0001-Start-snapuserd_proxy-after-early-init.patch

# ===================================== #
# Android patch to packages             #
# ===================================== #

# -------------------------------------
PATCH_PATH packages/apps/Launcher3

# Temporary patch to avoid exception due to missing permission
PATCH_1 packages_apps_launcher3/0001-Missing-permission-to-call-getRootTaskInfo.patch

# -------------------------------------
PATCH_PATH packages/apps/Settings

# Optional patch to remove "phone" animation during boot
PATCH_1 packages_apps_settings/0001-Simplify-FallbackHome-activity-remove-animation.patch

# Optional patch to remove unnecessary settings panels (missing services)
PATCH_2 packages_apps_settings/0002-Remove-unnecessary-setting-panels-and-associated-con.patch

# Optional patch to allow system overlay for low-ram devices (demo purpose)
PATCH_3 packages_apps_settings/0003-Allow-system-overlay-STPerf.patch
