# Partition layout configuration (keep order)

# Default memory size used on setup
# Options = (sd 8GiB) or (sd 4GiB) or (emmc 8GiB) or (emmc 4GiB)

PART_MEMORY_TYPE emmc
PART_MEMORY_SIZE 8GiB

# Partition definition: PART_<NAME> <PART_SIZE> <PART_NB> <PART_LABEL> <PART_SUFFIX> <PART_ENABLE>
# NAME: name of the local variable (last partition MUST start with PART_LAST_)
# PART_SIZE: as xxxMB or xxxKB or xxxGB
# PART_NB: number of instances of partition (x1 or x2)
# PART_LABEL: name of the partition label
# PART_SUFFIX (optional): name of the suffix in case PART_NB equal x2 (_a/_b by default)
# PART_ENABLE (optional): device for which the partition is only applicable (sd)

PART_ATF 512K x2 fsbl a1/a2 sd
PART_FIP 4M x1 fip
PART_UBOOT_ENV 512K x1 u-boot-env none
PART_TEEFS 128M x1 teefs sd
PART_SPLASH 512K x1 splash
PART_VBMETA 512K x2 vbmeta _a/_b
PART_BOOT 64M x2 boot _a/_b
PART_VENDOR_BOOT 20M x2 vendor_boot _a/_b
PART_DTBO 512K x2 dtbo _a/_b
PART_MISC 512K x1 misc
PART_SUPER 1400M x1 super hybrid 3500M
PART_METADATA 64M x1 metadata hybrid
PART_LAST_USERDATA - x1 userdata hybrid

# List supported memory size. At least one config MUST be present.
# Usefull for last partition size calculation, and disk image creation
# Check README file for detail about getting values

PART_8GiB_MEMORY_MAX_SIZE 7536M x1 sd
PART_4GiB_MEMORY_MAX_SIZE 3837M x1 sd
PART_4GiB_MEMORY_MAX_SIZE 3775M x1 emmc
PART_8GiB_MEMORY_MAX_SIZE 7436M x1 emmc
