# Partition layout configuration (keep order)

# Default memory size used on setup
# Options = (sd 8GiB) or (sd 4GiB) or (emmc 4GiB)

PART_MEMORY_TYPE sd
PART_MEMORY_SIZE 4GiB

# Partition definition: PART_<NAME> <PART_SIZE> <PART_NB> <PART_LABEL> <PART_SUFFIX> <PART_ENABLE>
# NAME: name of the local variable (last partition MUST start with PART_LAST_)
# PART_SIZE: as xxxMB or xxxKB or xxxGB
# PART_NB: number of instances of partition (x1 or x2)
# PART_LABEL: name of the partition label
# PART_SUFFIX (optional): name of the suffix in case PART_NB equal x2 (_a/_b by default)
# PART_ENABLE (optional): device for which the partition is only applicable (sd)

PART_ATF 512K x2 fsbl _a/_b sd
PART_BL33 1M x1 ssbl
PART_TEEH 512K x1 teeh
PART_TEED 512K x1 teed
PART_TEEX 512K x1 teex
PART_SPLASH 512K x1 splash
PART_BOOT 16M x2 boot _a/_b
PART_DTB 512K x2 dt _a/_b
PART_VENDOR 64M x2 vendor _a/_b
PART_SYSTEM 896M x2 system _a/_b
PART_MISC 512K x1 misc
PART_LAST_USERDATA - x1 userdata

# List supported memory size. At least one config MUST be present.
# Usefull for last partition size calculation, and disk image building
# Check README file for detail about getting values

PART_8GiB_MEMORY_MAX_SIZE 7536M x1 sd
PART_4GiB_MEMORY_MAX_SIZE 3837M x1 sd
PART_4GiB_MEMORY_MAX_SIZE 3775M x1 emmc
