#
# This file is your local configuration file and is where all local user settings
# are placed.
# Lines starting with the '#' character are commented out and in some cases the 
# default values are provided as comments to show people example syntax.
# All setting present in this file are mandatory, please DO NOT COMMENT ONE OF THEM.
#
# ====================
# Boards configuration
# ====================
BOARD_NAME:
#
# ===================="
# Memory configuration"
# ===================="
#
MEMORY_TYPE:
#
MEMORY_SIZE:
#
