# Starter config definition:
# STARTER_BOARD_NAME: board name (eval or disco)
# STARTER_BOARD_CONFIG: board config (aosp or wear)
# STARTER_BOARD_FLAVOUR: board flavour (ev1, ev2 or dk2)
# STARTER_BUILD_MODE: build mode (trusted or optee)
# STARTER_TARGETS: kind of storage (emmc or/and sd)
# STARTER_TARGET_SD_SIZE: size of the sd target storage (4GiB or 8GiB)
# STARTER_TARGET_EMMC_SIZE: size of the emmc target storage (4GiB)

# define the board configuration required for the starter kit (only one board name and config, up to two flavours)
STARTER_BOARD_NAME eval
STARTER_BOARD_CONFIG aosp
STARTER_BOARD_FLAVOUR ev1
STARTER_BUILD_MODE optee

# define the storage configuration required for the starter kit (max 2 memory configurations)
STARTER_TARGETS emmc sd
STARTER_TARGET_SD_SIZE 4GiB
STARTER_TARGET_EMMC_SIZE 4GiB

