# Starter config definition:
# STARTER_BOARD_NAME: board name (valid)
# STARTER_BOARD_CONFIG: board config (aosp or wear)
# STARTER_BOARD_FLAVOUR: board flavour (valid)
# STARTER_BUILD_MODE: build mode (trusted or optee)
# STARTER_TARGETS: kind of storage (emmc or/and sd)
# STARTER_TARGET_SD_SIZE: size of the sd target storage (4GiB or 8GiB)
# STARTER_TARGET_EMMC_SIZE: size of the emmc target storage (4GiB)

# define the board configuration required for the starter kit (only one board name and config, up to two flavours)
STARTER_BOARD_NAME dk
STARTER_BOARD_CONFIG aosp
STARTER_BOARD_FLAVOUR dk

# define the storage configuration required for the starter kit (max 2 memory configurations)
STARTER_TARGETS emmc
STARTER_TARGET_EMMC_SIZE 8GiB

STARTER_IMAGE_1 fsbl-programmer.img
STARTER_IMAGE_2 fip-ddr-programmer.img
STARTER_IMAGE_3 fip.img
STARTER_IMAGE_4 fsbl-optee.img
STARTER_IMAGE_5 splash.img
STARTER_IMAGE_6 teefs.img sd
STARTER_IMAGE_7 vbmeta.img
STARTER_IMAGE_8 boot.img
STARTER_IMAGE_9 vendor_boot.img
STARTER_IMAGE_10 dtbo.img
STARTER_IMAGE_11 misc.img
STARTER_IMAGE_12 super.img sparse
STARTER_IMAGE_13 metadata.img sparse
STARTER_IMAGE_14 userdata.img sparse
