# Patch list definition (for each git repository which shall be set and/or patched):

# PATCH_CONFIG_VERSION to be increased for each change within this file

# PATCH_PATH <path> (relative path of the patched directory from Android top directory)
# PATCH_COMMIT <commit sha1> (specific version required)
# PATCH_1 <file name> (file name with or without .patch suffix)
# ...
# PATCH_<n> <file name> (file name with or without .patch suffix)

# Increase <n> value by 1 to show order (add it in ascending order)
# Patch files to be added in device/stm/stm32mp2/patch/android/

# version of the patch configuration required
PATCH_CONFIG_VERSION 1

# ===================================== #
# Three types of patches:
# Patch to ... : mandatory patches
# Temporary patch to ... : mandatory patches (issue tracker opened, wait for official correction)
# Optional patch to ... : optional patches (can be removed taking care of dependencies)
# ===================================== #

# -------------------------------------
PATCH_PATH device/stm/stm32mp2/core/v4l-utils

PATCH_1 0001-android-remove-legacy-Android.mk.patch
PATCH_2 0002-android-add-android-build-rules-for-v4l2-ctl-and-med.patch
PATCH_3 0003-utils-correct-unused-parameter-warnings.patch
PATCH_4 0004-utils-correct-missing-field-warnings.patch
